<header>

  <nav class="navbar navbar bg-info">

    <ul class="navbar-nav ">
      <li><h3 style="color: whitesmoke;font-family:verdana;font-style:oblique;"><b>Flight Management System</b></h3></li>
    </ul>
    <ul class="navbar nav">
      <li class="nav-item "><a routerLink="/add" style="color: aliceblue;">Add Flight</a></li>&nbsp;&nbsp;&nbsp;
      <li class="nav-item "><a routerLink="/view" style="color: aliceblue;">View Flights</a></li>

    </ul>

  </nav><br/><br/>
  </header>

<router-outlet></router-outlet>
