      
      <table class="table table-primary  table-striped table-hover col-md-8 mx-auto mt-3">
       <thead>
        <tr>
          <th>FlightId</th>
          <th>FlightNumber</th>
          <th>FlightModel</th>
          <th>CarrierName</th>
          <th>SeatCapacity</th> 
          
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let flight of flights">
          <td>{{flight.flightId}}</td>
          <td>{{flight.flightNumber}}</td>
          <td>{{flight.flightModel}}</td>
          <td>{{flight.carrierName}}</td>
          <td>{{flight.seatCapacity}}</td>
          <td><button class="btn btn-dark text-white" (click)="deleteFlight(flight.flightId)">Delete</button></td>
         <td><button class="btn btn-dark text-white" (click)="updateFlight(flight.flightId)">Update</button></td>
     
        </tr>
      </tbody>
      </table>

      <section class="col-md-10 mx-auto mt-4" *ngIf="editFlag">
        <form #frm="ngForm" (ngSubmit)="editFlight()">
          <div class="mt-3">Flight Id</div>
          <div><input type="number" name="flightid" [(ngModel)]="flight.flightId" class="form-control" #flightId="ngModel"
              required pattern="[1-9][0-9]{3}" /></div>
          <div class="alert alert-danger" *ngIf="flightId.invalid && (flightId.touched || flightId.dirty)">
            <div *ngIf="flightId.errors.required">FlightId is required</div>
            <div *ngIf="flightId.errors.pattern">Flight pattern does not match</div>
                
              </div>
         
   

          <div class="mt-3">Flight Number</div>
          <div><input type="text" name="flightnumber" [(ngModel)]="flight.flightNumber" class="form-control" #flightnumber="ngModel"
              required pattern="^([A-Z]{2}|[A-Z]\d|\d[A-Z])[1-9](\d{1,3})?$" /></div>
          <div class="alert alert-danger" *ngIf="flightnumber.invalid && (flightnumber.touched || flightnumber.dirty)">
          <div *ngIf="flightnumber.errors.required">Flight Number is required</div>
          <div *ngIf="flightnumber.errors.pattern">This first two letter must be either letter-letter,
             number-letter, or letter-number, NEVER number-number</div> 
          </div>
      
          <div class="mt-3">Flight Model</div>
          <div><input type="text" name="flightmodel" [(ngModel)]="flight.flightModel" class="form-control" #flightmodel="ngModel"
              required pattern="[A-Z0-9]{6}" /></div>
          <div class="alert alert-danger" *ngIf="flightmodel.invalid && (flightmodel.touched || flightmodel.dirty)">
           <div *ngIf="flightmodel.errors.required">Flight model is required</div>
           <div *ngIf="flightmodel.errors.pattern">Flight Model should be of 6 character</div>
          </div>

            <div class="mt-3">Carrier Name</div>
            <div><input type="text" name="carriername" [(ngModel)]="flight.carrierName" class="form-control" #carriername="ngModel"
                required pattern="^[A-Z].*" /></div>
            <div class="alert alert-danger" *ngIf="carriername.invalid && (carriername.touched || carriername.dirty)">
              <div *ngIf="carriername.errors.required">Carrier name is required</div>
              <div *ngIf="carriername.errors.pattern">Pattern does not match. The first letter shuld be capital letter</div>

            </div>

              <div class="mt-3">Seat Capacity</div>
              <div><input type="number" name="seatcapacity" [(ngModel)]="flight.seatCapacity" class="form-control" #seatcapacity="ngModel"
                  required pattern=[1-2][0-9]{2}/></div>
              <div class="alert alert-danger" *ngIf="seatcapacity.invalid && (seatcapacity.touched || seatcapacity.dirty)">
                <div *ngIf="seatcapacity.errors.required">Seat Capacity Required</div>
                <div *ngIf="seatcapacity.errors.pattern">SeatCapacity should be between 100 and 300 </div>
              </div>
      
          <div class="mt-3"><input type="submit" [disabled]="!frm.valid" class="btn btn-dark" value="Update Airport"/></div>
        </form>
      </section>
  